include partials/vars.pug

doctype html
html(lang="ru")
  include partials/head.pug
  body

    //top-section
    section.section.top-section
      .container
        .top-section-heading
          h1.title Вывоз металлолома в Краснодаре
          h2.subtitle по выгодными условиям

        .top-section-info
          p.time Работаем с 9:00 до 21:00
          a.phone(href="tel:89284440372") +7 928 444-03-72

    //info-section
    section.section.info-section
      .container
        h2.section-title Подробнее о вывозе
        .info-grid
          .info-content
            ul.info-list
              each item in info
                li.info-item
                  p.info-item-text=item
            .info-text
              p Звоните!
              a(href="tel:+7 928 444-03-72") +7 928 444-03-72
          .info-img
            img(src="images/truck.png", alt="")

    //step-section
    section.section.step-section
      .container
        h2.section-title Как мы работаем
        .steps
          each item, index in steps
            .step
              span.step-number=index+1
              p.step-text=item

        a.btn.btn-whatsapp(href="#") Перейти в whatsapp

    //faq-section
    section.section.faq-section
      .container
        h2.section-title Частные вопросы
        .faq-list
          each item in faq
            .faq-masonry
              .faq-item
                p.faq-title=item.question
                p.faq-text=item.answer
        p.faq-offer Звоните! #[a(href="+7 928 444-03-72") +7 928 444-03-72]

    //price-section
    section.section.price-section
      .container
        .price-content
          h2.section-title Не знаете цену металла?
          p.section-subtitle Отправьте фото или видео в whatsapp и мы сообщим приблизительную стоимость
          a.btn.btn-whatsapp(href="#") Отправить на оценку
        .price-image
          img(src="./images/dialog.png", alt="")

    //footer
    footer.footer
      .container
        p.footer-text Вывоз мусора в Краснодаре
        a.footer-phone(href="+7 928 444-03-72") +7 928 444-03-72

    include partials/scripts.pug
